cors:
  originPatterns: "http://localhost:3000,http://localhost:8080,https://erudio.com.br"

file:
  upload-dir: /Code/UploadDir

security:
  jwt:
    token:
      secret-key: 53cr37
      expire-length: 3600000

spring:
  flyway:
    encoding: UTF-8

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/rest_with_spring_boot_erudio?useUnicode=true&characterEncoding=UTF-8&characterSetResults=UTF-8&useTimezone=true&serverTimezone=UTC
    username: root
    password:

  jpa:
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        connection:
          charSet: UTF-8
          useUnicode: true
          characterEncoding: utf8mb4

  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB

springdoc:
  pathsToMatch:
    - /auth/**
    - /api/**/v1/**
  swagger-ui:
    use-root-path: true
